<html xmlns:th="http://www.thymleaf.org">
    <head>
        <title> Add Item</title>
    </head>
    <body>
        <div>
            <h3>Add Item</h3>
            <hr/>
            <form th:action="@{/save-item}" th:object="${item}" method="POST">
                <input type="text" th:field="${item.name}" placeholder="Enter name" />
                <input type="text" th:field="${item.description}" placeholder="Enter description" />
                <input type="text" th:field="${item.image}" placeholder="Enter image" />
                <input type="text" th:field="${item.price}" placeholder="Enter price" />
                <button type="submit">Save</button>
            </form>
            <hr/>
            <a th:href="@{/list}">Back to list</a>
        </div>
    </body>
</html>