<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login</title>
    </head>
    <body>
        <div class="topnav">
            <a  class="active" th:href="@{/home}">Home</a>
            <a  th:href="@{/menu}">Menu</a>
            <a  th:href="@{/order}">Order</a>
            <a  th:href="@{/cart}">Cart</a>
            <div class="topnav-right">
            <a class="log" th:href="@{/auth/logout}">Logout</a>
        </div>
          </div>         
                <img src="image.jpg" alt="">
    </body>
</html>